<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Networking_Lounge.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<section>
  <div id="content">
    <div id="content_network">
      <div id="bg">
        <img src="../../../assets/img/NetworkingLounge/fame.jpg" alt="">
      </div>
      <div>
          <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="liveMsg">
              <div class="alert alert-success " role="alert">
                The session is currently live, please proceed towards the grand ballroom.
              </div>
            </div>
            <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="ChatMsg">
              <div class="alert alert-success " role="alert">
                {{senderName}} has sent you a New Message
              </div>
            </div>
            <div id="setplay">
              <vg-player>
                <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
          
                  <vg-play-pause></vg-play-pause>
                  <vg-time-display ></vg-time-display>
                  <!-- <vg-playback-button></vg-playback-button> -->
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen ></vg-fullscreen>
                </vg-controls>
                <vg-buffering></vg-buffering>
                <video #myMedia [vgMedia]="myMedia"
                preload="auto"  autoplay="true"
                 vg-responsive="true"
                type="video/mp4" >
                <source src="../../../assets/video/brand.mp4" type="video/mp4">
                </video>
            </vg-player>
            </div>
          <div class="letsChat" (click)="openChat()">
              <div class="pulsating-circle" ></div>
            </div>
            <div class="smile" (click)="openCamera()">
              <div class="pulsating-circle" ></div>
            </div>
            <div class="video" data-toggle="modal" data-target=".agendaModal">
              <a class="pulsating-circle"></a>
            </div>
            <div class="auditorium-left" (click)="openWtsapp()">
              <div class="pulsating-circle"  ></div>
            </div>
            <div class="photobooth">
              <div class="pulsating-circle" (click)="openCamera()" ></div>
            </div>
            
            
            <div class="wtsapp">
              <div class="pulsating-circle" (click)="openWtsapp()"></div>
            </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="bg">
  <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="liveMsg">
    <div class="alert alert-success " role="alert">
      The session is currently live, please proceed towards the grand ballroom.
    </div>
  </div>
  <div style="position: absolute;  top: 23%;  left: 19%;">
    <vg-player  [ngStyle]="{'width': '20%'}">
      <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">

        <vg-play-pause></vg-play-pause>
        <vg-time-display ></vg-time-display>
        <vg-playback-button></vg-playback-button>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen ></vg-fullscreen>
      </vg-controls>
      <vg-buffering></vg-buffering>
      <video #myMedia [vgMedia]="myMedia"
      preload="auto"  autoplay="true"
       vg-responsive="true"
      type="video/mp4" >
      <source src="assets/video/lifeboy.mp4" type="video/mp4">
      </video>
  </vg-player>
  </div>
</div> -->

