.bg {
    background-image: url(../../../assets/img/NetworkingLounge/fame.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
section{
    position: relative;
    height: 100%;
    width: 100%;
    #content{
        position: relative;
        #content_network{
            position: relative;
            height: 100%;
            width: 100%;
            #bg{
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                img{
                    width: 100vw;
                    height: 105vh;
                }
            }
        }
    }
}
#setplay{
    position: absolute;  
    top: 25%;  
    left: 19.3%;
    vg-player{
        width: 19.5%;
        height:16.5vh
    }
}
.letsChat {
    position: absolute;
    top: 35%;
    right: 14%;
    cursor: pointer;
    height: 7vw;
    width: 11vw;
  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 15%;
      cursor: pointer;
  }
}
.smile {
  .pulsating-circle{
      position: absolute;
      top: 30%;
      right: 15%;
      cursor: pointer;
  }
}
.video {
  .pulsating-circle{
      position: absolute;
      top: 20%;
      right: 15%;
      cursor: pointer;
  }
}
.wtsapp {
  .pulsating-circle{
      position: absolute;
      top: 12%;
      right: 15%;
      cursor: pointer;
  }
}
.auditorium-left {
    position: absolute;
    top: 27%;
    right: 34%;
    cursor: pointer;
    height: 12vw;
    width: 12vw;

  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 40%;
      cursor: pointer;
  }
}
.photobooth {
    position: absolute;
    top: 34%;
    left: 35%;
    cursor: pointer;
    height: 12vw;
    width: 15vw;
  .pulsating-circle{
      position: absolute;
      top: 56%;
      left: 38%;
      cursor: pointer;
  }
}
