<div>
  <div class="bg"></div>


  <div class="askqa">
    <div class="pulsating-circle" data-toggle="modal" data-target=".liveQuestionModal">

    </div>
  </div>
  <div class="askqar">
    <div class="pulsating-circle" data-toggle="modal" data-target=".liveQuestionModal">

    </div>
  </div>
  <div class="agenda">
    <div class="pulsating-circle" data-toggle="modal" data-target=".exDirectory">

    </div>
  </div>
  <div class="heighlights">
    <div class="pulsating-circle" data-toggle="modal" data-target=".visitor_manual">

    </div>
  </div>
</div>