.bg {
  background-image: url(../../../assets/acma/images/Information_Desk.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // background-color: #464646;

  width: 100%;
  height: 100vh;
  // position: relative;
}
.reception {
  .pulsating-circle{
      position: absolute;
      bottom: 17%;
      left: 51%;
      cursor: pointer;
  }
}
.auditorium-left {
  .pulsating-circle{
      position: absolute;
      top: 37%;
      left: 23%;
      cursor: pointer;
  }
}
.auditorium-right {
  .pulsating-circle{
      position: absolute;
      top: 37%;
      right: 23%;
      cursor: pointer;
  }
}
.exhibition-hall {
  .pulsating-circle{
      position: absolute;
      top: 55%;
      left: 36%;
      cursor: pointer;
  }
}
.registraion-desk {
  .pulsating-circle{
      position: absolute;
      top: 55%;
      left: 55%;
      cursor: pointer;
  }
}
.networking-lounge {
  .pulsating-circle{
      position: absolute;
      top: 55%;
      right: 36%;
      cursor: pointer;
  }

}
.agenda {
  .pulsating-circle{
      position: absolute;
      top: 55%;
      right: 9%;
      cursor: pointer;
  }

}
.askqa {
  
  .pulsating-circle{
      position: absolute;
      top: 59%;
      left: 41%;
      cursor: pointer;
  }

}
.askqar {
  .pulsating-circle{
      position: absolute;
      top: 59%;
      right: 41%;
      cursor: pointer;
  }

}
.heighlights {
  .pulsating-circle{
      position: absolute;
      top: 55%;
      left: 10%;
      cursor: pointer;
  }

}

