<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="content loby-content">
            <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
                <!-- <div class="bg"></div> -->
                <div class="loby-bg">
                    <img src="../../../assets/acma/images/Lobby.png" width="100%" alt="audi">
                </div>
                <div class="reception" (click)="playReception()">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
                <div class="acma1" data-toggle="modal" data-target=".acma4Modal">
                    <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                </div>
                <div class="acma2" data-toggle="modal" data-target=".acma3Modal">
                    <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                </div>
                
                <div class="vis_manual" data-toggle="modal" data-target=".visitor_manual">
                    <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                </div>
                <div class="acma3" data-toggle="modal" data-target=".acma2Modal">
                    <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                </div>
                <div class="acma4" data-toggle="modal" data-target=".acma1Modal">
                    <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                </div>
                <div class="exhibitor_directory" data-toggle="modal" data-target=".exDirectory">
                    <!-- <div class="pulsating-circle" id="reception_pulse"></div> -->
                </div>
                <!-- <div class="front_audi" (click)="gotoAuditoriumFront()">
                    <div class="pulsating-circle" id="frontaudi_pulse"></div>
                </div> -->
                <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                    <div class="alert alert-success " role="alert">
                        The session is currently live, please proceed towards the grand ballroom.
                    </div>
                </div>
                <!-- <div class="playmodalvideo">
                    <div id="light">
                        <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
                        <video id="VisaChipCardVideo" src="../../../assets/video/brand.mp4" width="600" controls>
                            
                        </video>
                      </div>
                      <div id="fade" (click)="lightbox_close();"></div>
                      <div class="video" title="Play Video" (click)="lightbox_open();">
                      
                      </div>
                </div> -->
                <div class="auditorium-left" (click)="gotoConferenceHall();stepUpAnalytics('Conferencehall')">
                    <div class="pulsating-circle" id="audLeft_pulse"></div>
                </div>
                <!-- <div class="auditorium-right" (click)="playAuditoriumRight()">
                    <div class="pulsating-circle" id="audRight_pulse"></div>
                </div> -->
                <div class="exhibition-hall-up">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('one');stepUpAnalytics('exhibition_hall-1')"></div>
                </div>
                <div class="exhibition-hall2-up">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('two');stepUpAnalytics('exhibition_hall-2')"></div>
                </div>
                <div class="exhibition-hall3-up">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('three');stepUpAnalytics('exhibition_hall-3')"></div>
                </div>
                <div class="exhibition_two">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('two');stepUpAnalytics('exhibition_hall-2')"></div>
                </div>
                <div class="exhibition_three">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('three');stepUpAnalytics('exhibition_hall-3')"></div>
                </div>
                <div class="exhibition-hall">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('one');stepUpAnalytics('exhibition_hall-1')"></div>
                </div>
                <div class="exhibition_two">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('two');stepUpAnalytics('exhibition_hall-2')"></div>
                </div>
                <div class="exhibition_three">
                    <div class="pulsating-circle" id="exhibition_pulse" (click)="gotoExhibition('three');stepUpAnalytics('exhibition_hall-3')"></div>
                </div>
                <!-- <div class="registraion-desk" (click)="playRegistrationDesk()">
                        <div class="pulsating-circle" id="regDeskvideo" ></div>
                    </div> -->
                <!-- <div class="networking-lounge" (click)="playNetworkingLounge()">
                    <div class="pulsating-circle" id="networking_pulse"></div>
                </div> -->

                <!-- <div class="agenda" data-toggle="modal" data-target=".feebackModal">
                    <div class="pulsating-circle" id="agenda_pulse">

                    </div>
                </div>
                <div class="heighlights" data-toggle="modal" data-target=".agendaModal">
                    <div class="pulsating-circle" id="heighlight_pulse">

                    </div>
                </div> -->

                <div id="exhibtion_1">
                   
                    <div class="one" (click)="gotoExhibtion('25');stepUpAnalytics('exhibition_25')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="two" (click)="gotoExhibtion('26');stepUpAnalytics('exhibition_26')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="three" id="exhibition_ones" (click)="gotoExhibtion('27');stepUpAnalytics('exhibition_27')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="four" (click)="gotoExhibtion('28');stepUpAnalytics('exhibition_28')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="five" (click)="gotoExhibtion('33');stepUpAnalytics('exhibition_33')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="six" (click)="gotoExhibtion('30');stepUpAnalytics('exhibition_30')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="seven" (click)="gotoExhibtion('31');stepUpAnalytics('exhibition_31')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="eight" (click)="gotoExhibtion('32');stepUpAnalytics('exhibition_32')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="nine" (click)="gotoExhibtion('29');stepUpAnalytics('exhibition_29')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                </div>
                <div id="exhibtion_2">
                    <div class="one" (click)="gotoExhibtion('34');stepUpAnalytics('exhibition_34')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="two" (click)="gotoExhibtion('37');stepUpAnalytics('exhibition_37')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="three" (click)="gotoExhibtion('38');stepUpAnalytics('exhibition_38')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="four" (click)="gotoExhibtion('39');stepUpAnalytics('exhibition_39')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="five" (click)="gotoExhibtion('40');stepUpAnalytics('exhibition_40')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="six" (click)="gotoExhibtion('41');stepUpAnalytics('exhibition_41')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="seven" (click)="gotoExhibtion('42');stepUpAnalytics('exhibition_42')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="eight" (click)="gotoExhibtion('36');stepUpAnalytics('exhibition_36')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="nine" (click)="gotoExhibtion('35');stepUpAnalytics('exhibition_35')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                </div>
                <div id="exhibtion_3">
                    <div class="one" (click)="gotoExhibtion('43');stepUpAnalytics('exhibition_43')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="two" (click)="gotoExhibtion('44');stepUpAnalytics('exhibition_44')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="three" (click)="gotoExhibtion('45');stepUpAnalytics('exhibition_45')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="four" (click)="gotoExhibtion('46');stepUpAnalytics('exhibition_46')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                    <div class="five" (click)="gotoExhibtion('47');stepUpAnalytics('exhibition_47')">
                        <!-- <div class="pulsating-circle"></div> -->
                    </div>
                </div>
                <div id="players">
                    <div class="one">
                        <i class="fa fa-play-circle" (click)="playShowVideo('../../../assets/acma/video/ACMA_lobby_video1.mp4')"></i>
                    </div>
                    <div class="two" data-toggle="modal" data-target=".briefcaseModal">
                        <!-- <i class="fa fa-play-circle" (click)="playShowVideo('../suy/jhvh.mp4')"></i> -->
                    </div>
                    <div class="three">
                        <i class="fa fa-play-circle" (click)="playShowVideo('../../../assets/acma/video/ACMA_lobby_2.mp4')"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video id="recepVideo" class="videoBg" (ended)="receptionEndVideo()">
        <source src="../../../assets/video/To_Recp_01.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video id="audLeftvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <source src="../../../assets/video/to_left_Auditorium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video id="audRightvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <source src="../../../assets/video/to_right_Auditorium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':exhibitionHall ? 'block': 'none'}" class="videoContainer">
    <video id="exhibitvideo" preload="auto" class="videoBg" (ended)="gotoExhibitionHallOnVideoEnd()">
        <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':registrationDesk ? 'block': 'none'}" class="videoContainer">
    <video id="regDeskvideo" preload="auto" class="videoBg" (ended)="playAudiThreeFourEndVideo()">
        <source src="../../../assets/video/To_Registration.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video id="netLoungevideo" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="../../../assets/video/To_Networking_Lounge.mp4" type="video/mp4">
    </video>
</div>

<!-- <div id="light">
    <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
    <video id="VisaChipCardVideo"[src]="videoUrl" autoplay width="600" controls>
       
      </video>
  </div>
  <div id="fade" (click)="lightbox_close();"></div> -->

<div class="modal fade yvideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closeModalVideo()">&times;</div>
                    <video id="video" preload="auto" src="{{videoSOurce}}" width="100%"
                        controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>