.bg {
    background-image: url(../../../assets/img/Lobby/lobby.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;

    width: 100%;
    height: 100vh;
    // position: relative;
}
.loby-bg {
    img{        
    width: 100vw;
    height: 100vh;
    }
}
#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }
section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      position: relative;
      .lobby-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
      }
    } 
  }
.reception {
        position: absolute;
        bottom: 20%;
        left: 47%;
        cursor: pointer;
        // background: black;
        height: 6vw;
        width: 4vw;       
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }
}
.front_audi {
        position: absolute;
        top: 48%;
        left: 43.5%;
        cursor: pointer;
        // background: black;
        height: 6vh;
        width: 11vw;          
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 50%;
    }
}
.auditorium-left {
    position: absolute;
    top: 52%;
    left: 20%;
    height: 12.2vh;
    width: 12.2vw;
    cursor: pointer;
    // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 57%;
    }
}
.auditorium-right {    
        position: absolute;
        top: 32%;
        right: 13%;
        height: 7vh;
        width: 16vw;
        cursor: pointer;
        // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
.exhibition-hall {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 49%;
    left: 36%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
  .exhibition-hall-up {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 0%;
    left: 0%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
  .exhibition-hall2-up {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 0%;
    left: 29%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
  .exhibition-hall3-up {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 0%;
    left: 68%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
.exhibition_two {
    height: 10vh;
    width: 10vw;
    position: absolute;
    top: 52%;
    left: 52%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          right: 50%;
      }
  
  }
  .exhibition_three {
    height: 10vh;
    width: 10vw;
    position: absolute;
    top: 52%;
    right: 24%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          right: 50%;
      }
  
  }
.registraion-desk {
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 55%;
        cursor: pointer;
    }
}
.networking-lounge {
    height: 7vh;
    width: 14vw;
    position: absolute;
    top: 47%;
    right: 25%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 5%;
      }
  
  }
.agenda {
    position: absolute;
    bottom: 27%;
    right: 37%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.acma1 {
    position: absolute;
    bottom: 20%;
    left: 7%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.acma2 {
    position: absolute;
    bottom: 24%;
    left: 18%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.acma3 {
    position: absolute;
    bottom: 24%;
    right: 19%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.vis_manual {
    position: absolute;
    bottom: 21%;
    left: 28%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.acma4 {
    position: absolute;
    bottom: 20%;
    right: 8%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.exhibitor_directory {
    position: absolute;
    bottom: 20%;
    right: 30%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.heighlights {
    position: absolute;
    bottom: 27%;
    left: 35.3%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}

#player_sec{
    position: absolute;
    top: 39.1%;
    left: 49.55%;
    transform: translate(-50%, -50%);
  }
  #fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  .test:hover ~ .test2 {
    display: none;
  }
  .video {
    position: absolute;
    top: 32%;
    left: 39%;
    cursor: pointer;
    height: 14vh;
    width: 20vw;
    // .pulsating-circle{
    //     position: absolute;
    //     top: 40%;
    //     left: 50%;
    //     cursor: pointer;
    // }
  }


  #exhibtion_1, #exhibtion_3{
    position: absolute;
    top: 12.5%;
    height: 34vh;
    width: 16.8vw;    
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
        position: absolute;
        cursor: pointer;
        // background: black;
        height: 6.4vh;
        .pulsating-circle{
          position: absolute;
          top: 25%;
          left: 10%;
        }
    }
    .one, .three, .five, .seven, .nine{
        left: 0;
    }
    .two, .four, .six, .eight{
        left: 51%;
    }
    .one, .two{
        top: 0;
        width: 8.2vw;
    }
    .three, .four{
        top: 20%;
        width: 8.2vw;
    }
    .five, .six {
        top: 40%;
        width: 8.2vw;
        // background: black;    
    }
    .seven, .eight{
        top: 60%;
        width: 8.2vw;
        // background: black;    
    }
    .nine{
        top: 80%;
        width: 17.2vw;
        // background: black;    
    }
}
#exhibtion_2{
    position: absolute;
    top: 11.5%;
    height: 19.5vh;
    width: 43.8vw;
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
        position: absolute;
        cursor: pointer;
        // background: black;
        height: 9.4vh;
        .pulsating-circle{
          position: absolute;
          top: 25%;
          left: 10%;
        }
    }
    .one, .two, .three, .four{
        top: 0;
    }
    .five, .six, .seven, .eight, .nine{
        top: 50%;  
    }
    .one{
        left: 0;
        width: 11.5vw;
    }
    .two{
        left: 27%;
        width: 9.5vw;
    }
    .three{
        right: 28%;
        width: 9.5vw;
    }
    .four{
        right: 0;
        width: 11.5vw;
    }
    .five{
        left: 0;
        width: 9.3vw;
    }
    .six {
        left: 22.2%;
        width: 7.8vw;
    }
    .seven{
        left: 41.2%;
        width: 7.7vw;
    }
    .eight{
        right: 23.2%;
        width: 7.7vw;
    }
    .nine{
        right: 0;
        width: 9.5vw;
    }
}
#exhibtion_1{
    left: 7%;
}
#exhibtion_2{
    left: 27.5%;
}
#exhibtion_3{
    right: 7.9%;
}
#players{
    position: absolute;
    top: 34.5%;
    left: 28%;
    height: 13vh;
    width: 43vw;
    .one, .two,.three{
        // background: black;  
        position: absolute;
        top: 0;
        height: 13vh;
        width: 13.2vw; 
        cursor: pointer;
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            color:#ff0000;
            transform: translate(-50%, -50%);
            font-size: 24px;
            cursor: pointer;
        }
    }
    .one{
        left: 0;
    }
    .two{
        left: 35.2%;
    }
    .three{
        right: 0;
    }
}