<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>FAQs</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <div class="container-fluid" style="background: #c5c5c5;">
            <div class="row pt-2">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">  
                <iframe style="width:100%" src="../../../assets/img/achive.pdf"
        height="550" frameborder='0'></iframe>
              </div>
              <!-- <div class="col-md-1 col-xl-1">
                <div class="online_chat"></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>