.container-fluid{
    background: #f2f2f2;
}
.users_data {
    height: 70vh;
    overflow-y: auto;
    margin-bottom: 15px;
    .user-profile-row {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #fff;
        margin: 0;
        padding: 8px;
        .user-profile-data {
            width: 85%;
            display: inline-block;
            .user-profile-image {
                width: 48px;
                float: left;
            }
            .user-profile-info {
                max-width: 70%;
                float: left;
            }
            .user-profile-name {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 5px;
                line-height: 15px;
                color: #000;
                text-transform: capitalize;
                a{
                    text-decoration: none;
                    outline: none;
                    color: var(--primary-color);
                
                }
            }
            .user-profile-company {
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                color: #000;
                margin-bottom: 0px;
            }
            
        }
    }
    .user-profile-row:nth-child(even) {
        background-color: #f2f2f2;
    }
}