<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg"></div> -->
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img src="../../../../assets/acma/images/exhibition_hall_3.jpg" alt="">
                <!-- <form action="" style="position: absolute; top: 10px; right: 100px;">
                    <input type="text" placeholder="Search Exhibition" style="padding: 7px;
                    border-radius: 20px;">
                </form> -->
            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                  The session is currently live, please proceed towards the grand ballroom.
                </div>
              </div>
            <div>
                <!-- <div class="lifeboy" (click)="lifeboy('Narmada')">
                    <div class="pulsating-circle"></div>
                </div> -->
                <div class="adapt" (click)="lifeboy('47');stepUpAnalytics('exhibition_46')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="bohra" (click)="lifeboy('43');stepUpAnalytics('exhibition_43')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="helvot" (click)="lifeboy('45');stepUpAnalytics('exhibition_44')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="aurofen" (click)="lifeboy('46');stepUpAnalytics('exhibition_45')">
                    <div class="pulsating-circle"></div>
                </div>
                <div class="msl" (click)="lifeboy('44');stepUpAnalytics('exhibition_45')">
                    <div class="pulsating-circle"></div>
                </div>
               
              
            </div>
        </div>
    </div>
</section>