
<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6 style="text-transform: uppercase;">sales information</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="  background: #f2f4f7;">
          <div class="row pt-2">

            <div class="col-md-6">
              <div class="profile-card" id="html-content-holder">
                <div #screen>
                <figure>
                  <i class="fa fa-user"></i>
                </figure>
                <h3>Karan Bajaj</h3>
                  <table class="table">
                                                        <tbody><tr>
                              <td><i class="fa fa-id-badge"></i>Software Developer</td>
                          </tr>
                                                    <tr>
                          <td><i class="fa fa-envelope"></i>Karan@gmail.com</td>
                      </tr>
                      <tr>
                          <td><i class="fa fa-mobile"></i>7404760468</td>
                      </tr>
                  </tbody></table>
                </div>
                  <a nhref="" class="download_card" (click)="download()">
                    Download
                  </a>
                
              </div>
            </div>
            <div id="download">
              <img #canvas style="display: none;">
              <a #downloadLink></a>
            </div>
           



           
          </div>
         
          </div>
        </div>
      </div>
    </div>
  </div>
