<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>FORTHCOMING ACTIVITIES</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <embed src="../../../assets/acma/images/Lobby_center_graphic.png"
            frameborder='0' width="100%">
            <div class="reception">
                 <a href="https://acmaindia-iautoconnect.in/" target="_blank" rel="noopener noreferrer"><div class="pulsating-circle" id="reception_pulse"></div> </a>
                
            </div>
         
         
        </div>
      </div>
    </div>
  