<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6>Feedback Form</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <!-- <div class="container-fluid" style="background: #c5c5c5;">
          <div class="row">
            <div class="col-md-12 col-xl-12 pl-0 pr-0 pb-0">
              <embed src="../../../assets/img/walloffame.pdf" frameborder="0"
              width="100%" >

            </div>
            
          </div>
        </div> -->

        <iframe style="width:100%" src="https://docs.google.com/forms/d/e/1FAIpQLSffFN4CtpNWkh3DZ9HKCyvCk8PEtGYZ3KjILLthnHTRTl2-Vw/viewform?usp=sf_link"
        height="550" frameborder='0'></iframe>
      </div>
    </div>
  </div>
  </div>
