<div id="successMsg" *ngIf="successMsg">
    Registration done successfully
</div>
<div class="container-fluid">
    <div id="bg">
        <img src="../../assets/img/acma_ve.jpg" alt="">

    </div>
    <div id="loginSection">
        <div class="row">
            <div class="col-md-8 col-xl-8 col-sm-8">
                <div id="brand">
                    <img src="../../assets/img/logo_acma.png" height="70" alt="logo">
                </div>

            </div>
            <div class="col-md-4 col-xl-4  col-sm-4">
                <div id="icons_social">
                    <a href="https://www.facebook.com/india.acma" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/fb-icon.png"
                            width="46">
                    </a>
                    <a href="https://www.linkedin.com/company/acma-india/" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/in-icon.png"
                            width="46">
                    </a>
                    <a href="https://twitter.com/acmaindia" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/twit-icon.png"
                            width="46">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xl-8  col-sm-6">
                <div class="acma_text">
                    <h3>
                        Automotive Supply Chain- <br>
                        Adjusting to the New Normal
                    </h3>
                    <h5>
                        Building Strategic Partnerships <br>
                        <!-- between T-1& T-2/3 <br> -->
                        (Virtual Exhibiton)
                    </h5>
                    <h5>15-21 October' 2020; 10am-7pm</h5>
                </div>
            </div>
            <div class="col-md-4 col-xl-4  col-sm-6 my-auto">
                <div class="login-wrapper">
                   
                    <h1 class="login-title"><span><a style="text-decoration: none; color: white;" routerLink="/signup">Sign
                                Up</a></span></h1>
                    <div *ngIf="invalidBoolean" style="color: red;
                    font-size: 14px;
                    text-align: center;
                    font-weight: 800;
                    /* background: #ce2222; */
                    height: 36px;
                    line-height: 15px;
                    border-radius: 3px;
                ">
                        {{invalidMessage}}
                        <h1 style="font-size: small; color: red;" class="login-title">{{invalidphone}}</h1> 
                    </div>
                    <form [formGroup]="signupForm" (ngSubmit)="register()" style="position: relative;">
                        <div class="form-group">
                            <label for="name" style="color: white;">Name</label>
                            <input type="text" style="background-color: lightgray;" class="form-control" required
                                autocomplete="off" formControlName="name" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="company" style="color: white;">Company Name</label>
                            <input type="text" style="background-color: lightgray;" class="form-control" required
                                autocomplete="off" formControlName="company_name" placeholder="Enter your company">
                        </div>
                        <div class="form-group">
                            <label for="designation" style="color: white;">Designation</label>
                            <input type="text" style="background-color: lightgray;" class="form-control"
                                required autocomplete="off" formControlName="designation" placeholder="Enter your designation">
                        </div>
                        <div class="form-group">
                            <label for="email" style="color: white;">Email</label>
                            <input type="email" style="background-color: lightgray;" class="form-control" required
                                autocomplete="off" formControlName="email" placeholder="Enter your email">
                        </div>

                        <div class="form-group">
                            <label for="mobile" style="color: white;">Mobile</label>
                            <input type="text" style="background-color: lightgray;" class="form-control" required
                                autocomplete="off" (keypress)="allowNumber($event.target.value)" maxlength="10"
                                formControlName="mobile" placeholder="Enter your mobile">
                        </div>
                        <div class="form-group">
                            <label for="pass" style="color: white;">Password</label>
                            <input style="background-color: lightgray;" type="password" class="form-control" required
                                autocomplete="off" formControlName="password" placeholder="Enter your password">
                        </div>

                        <div class="form-group mt-2">
                            <div class="btn-group dropdown w-100">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" >
                                    {{changeCategory}}
                                </button>
                                <div class="dropdown-menu w-100">
                                    <a class="dropdown-item" style="cursor:pointer" type="button" *ngFor="let val of ['OEM', 'IPOs', 'Tier1/2', 'Media']" (click)="updateCategory(val)">{{val}}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" style="cursor:pointer" type="button" (click)="updateCategory('others')">Others</a>
                                    <div *ngIf="othersCategory" style="padding:5px">
                                            <input style="background-color: lightgray;" type="text" class="form-control" required
                                            autocomplete="off" formControlName="category" placeholder="Enter your Category">
                
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <label for="category" style="color: white;" id="category">
                                    <button class="btn btn-success" (click)="showCategory()" type="button">Category</button> 
                                </label>
                            <div id="categoryRadio">
                                <div id="categoryValues" *ngFor="let val of ['OEM', 'IPOs', 'Tier1/2', 'Media', 'Others']">
                                    <input type="radio" name="category" formControlName="category" [value]="val"
                                        (change)="getvalue(val)">&nbsp; {{val}}
                                    <span class="checkmark"></span>
                                </div>
                            </div> -->
                            <!-- <input type="category" style="background-color: lightgray;" class="form-control" required
                                    autocomplete="off" formControlName="category" placeholder="Enter your category"> -->
                        </div>
                        <div class="form-group mb-2">
                            <label for="interests" style="color: white;">Area of Interest</label>
                            <input type="text" style="background-color: lightgray;" class="form-control" required
                                autocomplete="off" formControlName="interests" placeholder="Enter your Area of Interest">
                        </div>

                        <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Register">
                    </form>

                </div>
            </div>
        </div>
      </div>
    </div>
