
<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6 style="text-transform: uppercase;">SCHEDULE A CALL</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="  background: #f2f4f7;">



                   <div *ngIf="msg" class="alert alert-success" role="alert">
                    {{msg}}
                  </div>
              <h4 style="padding-top: 12px;">Select a Date & Time</h4>

              <div class="row pt-2">

                <div class="col-md-6">
                  <div class="calendar-part">
                    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
                  </div>
                </div>
                <div class="col-md-6" style="overflow-y: scroll;">
                  <div class="time-part">

                    <ul class="time-list mCustomScrollbar _mCS_4" id="list">
                      <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0" style="max-height: none;"><div id="mCSB_4_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                <li id=""><a (click)="getTime($event,'active','08:00')" href="javascript:void(0);" class="time_a" data-val="08:00">08:00 am</a></li>

                    <li id=""><a (click)="getTime($event,'active','08:30')" href="javascript:void(0);" class="time_a" data-val="08:30">08:30 am</a></li>

                    <li id=""><a (click)="getTime($event,'active','09:00')" href="javascript:void(0);" class="time_a" data-val="09:00">09:00 am</a></li>

                    <li id=""><a (click)="getTime($event,'active','09:30')" href="javascript:void(0);" class="time_a" data-val="09:30">09:30 am</a></li>

                    <li id=""><a (click)="getTime($event,'active','10:00')" href="javascript:void(0);" class="time_a" data-val="10:00">10:00 am</a></li>

                    <li id=""><a (click)="getTime($event,'active','10:30')" href="javascript:void(0);" class="time_a" data-val="10:30">10:30 am</a></li>

                    <li id=""><a (click)="getTime($event,'active','11:00')" href="javascript:void(0);" class="time_a" data-val="11:00">11:00 am</a></li>

                    <li id=""><a (click)="getTime($event,'active','11:30')" href="javascript:void(0);" class="time_a" data-val="11:30">11:30 am</a></li>

                    <li id=""><a (click)="getTime($event,'active','12:00')" href="javascript:void(0);" class="time_a" data-val="12:00">12:00 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','12:30')" href="javascript:void(0);" class="time_a" data-val="12:30">12:30 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','01:00')" href="javascript:void(0);" class="time_a" data-val="13:00">01:00 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','01:30')" href="javascript:void(0);" class="time_a" data-val="13:30">01:30 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','02:00')" href="javascript:void(0);" class="time_a" data-val="14:00">02:00 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','02:30')" href="javascript:void(0);" class="time_a" data-val="14:30">02:30 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','03:00')" href="javascript:void(0);" class="time_a" data-val="15:00">03:00 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','03:30')" href="javascript:void(0);" class="time_a" data-val="15:30">03:30 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','04:00')" href="javascript:void(0);" class="time_a" data-val="16:00">04:00 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','04:30')" href="javascript:void(0);" class="time_a" data-val="16:30">04:30 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','05:00')" href="javascript:void(0);" class="time_a" data-val="17:00">05:00 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','05:30')" href="javascript:void(0);" class="time_a" data-val="17:30">05:30 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','06:00')" href="javascript:void(0);" class="time_a" data-val="18:00">06:00 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','06:30')" href="javascript:void(0);" class="time_a" data-val="18:30">06:30 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','07:00')" href="javascript:void(0);" class="time_a" data-val="19:00">07:00 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','07:30')" href="javascript:void(0);" class="time_a" data-val="19:30">07:30 pm</a></li>

                    <li id=""><a (click)="getTime($event,'active','08:30')" href="javascript:void(0);" class="time_a" data-val="20:00">08:00 pm</a></li>

        </div><div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 149px; max-height: 290px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></ul>

                </div>
                </div>



                <!-- <div class="col-md-1 col-xl-1">
                  <div class="online_chat"></div>
                </div> -->
                <button class="confirm-btn" id="confirm_button" type="button" (click)="confirm(dp)">Confirm</button>
              </div>







            <!-- <div class="col-md-1 col-xl-1">
              <div class="online_chat"></div>
            </div> -->

        </div>
      </div>
    </div>
  </div>
<!-- <script>
   $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
</script> -->
