<!-- <div class="container-fluid" id="popup">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="chat_section">
                <div class="container-fluid" style="  background: #f2f4f7; height: 100vh;     padding-top: 60px;">
                    <div class="row pt-2">

                        <div class="col-md-3">
                            <div class="profile-card" id="html-content-holder">
                                <div>
                                    <figure>
                                        <i class="fa fa-user"></i>
                                    </figure>
                                    <h3>{{user_profile.name}}</h3>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td><i class="fa fa-id-badge"></i>{{user_profile.designation}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-envelope"></i>{{user_profile.email}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-mobile"></i>{{user_profile.mobile}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                

                            </div>
                        </div>
                        <div class="col-md-5">
                            <h5 style="font-weight: bold;">BRIEFCASE ITEMS</h5>
                            <hr>
                            <div class="chat_box">
                                <ul class="chat_message">
                                  <li class="chat_messageList pb-4" *ngFor="let item of breficase_items">
                                    <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
                                 
                                      <span class="person">
                                        <a href="{{item.document}}" target="_blank" download class="checkProfile"> {{item.title}}</a>
                                      </span>
                                      
                                 
                
                                  </li>
                                  
                                 
                                </ul>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <h5 style="font-weight: bold;">Scheduled call list</h5>
                            <hr>
                            <div class="chat_box">
                                <table>
                                   
                                        <tr>
                                            <th>Exhibitor Name</th>
                                            <th style="text-align: center;">Time</th>
                                            <th>Join Call</th>
                                        </tr>
                                    
                                   
                                       <tr *ngFor="let list of callList">
                                           <td>{{list.name}}</td>
                                           <td>{{list.time}}</td>
                                           <td title="Join Video Call" style="text-align: center;"><a href="{{list.channel}}" target="_blank"><i class="fa fa-video-camera" style="color:black"></i></a></td>
                                       </tr>
                                    
                                </table>
                               
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- New Visitor profile  -->


<div class="grid-container">
    <div class="menu-icon">
     <i class="fas fa-bars header__menu"></i>
   </div>
    
   <header class="header">
     <div class="header__search pl-3">
       <!-- <img src="http://35.154.240.36/virtual_event/assets/images/logo.png" alt="" height="30px" > -->
    </div>
      
   </header>
  
   <aside class="sidenav">
     <div class="sidenav__close-icon">
       <i class="fas fa-times sidenav__brand-close"></i>
     </div>
     <ul class="sidenav__list mt-3" style="color: #308ee0;">
      <img src="../../../assets/img/profile.svg" alt="profile" style="width:20%;">
      <h5 class="mt-3" style="color:white; font-weight: bold;">Dashboard</h5>
      <!-- <p class="title">{{salesPerson.;email}}</p>
      <p>{{salesPerson.contact}}</p> -->
      <!-- <p id="7">7</p> -->
     </ul>
  <br><br>
      <!-- <li class="sidenav__list-item">Video</li>
       <li class="sidenav__list-item">Brochure</li>
       <li class="sidenav__list-item">Product List</li> -->
       <!-- <li class="sidenav__list-item">Item Four</li>
       <li class="sidenav__list-item">Item Five</li> -->
       <ul class="nav nav-tabs tabs-left sideways" style="color: white; font-weight: bold;">
        <!-- <li class="sidenav__list-item"><a href="#brochure-v" data-toggle="tab">Brochure</a></li>
        <li class="active sidenav__list-item"><a href="#document-v" data-toggle="tab">Document List</a></li>
        <li class="sidenav__list-item"><a href="#product-v" data-toggle="tab">Product List</a></li>
        <li class="sidenav__list-item"><a href="#sales-v" data-toggle="tab">Sales Person</a></li>
        <li class="sidenav__list-item"><a href="#card-v" data-toggle="tab">Card Drop</a></li>
        <li class="sidenav__list-item"><a href="#video-v" data-toggle="tab">Video</a></li> -->
        <li class="active sidenav__list-item" ><a style="color:white; font-weight: bold;font-size: medium;"href="#call-v" data-toggle="tab">Briefcase Items</a></li>
        <li class="sidenav__list-item"><a style="color:white; font-weight: bold; font-size: medium;" href="#chat-v" data-toggle="tab">Scheduled Meetings</a></li>
        <li class="sidenav__list-item"><a style="color:white; font-weight: bold; font-size: medium;" href="#stall-v" data-toggle="tab">Chat History</a></li>
        <li class="sidenav__list-item"><a style="color:white; font-weight: bold; font-size: medium;" href="#prof-v" data-toggle="tab">Profile</a></li>
  
      </ul>
  
   </aside>
  
   <main class="main">
     
    <div class="tab-content">
      <div class="tab-pane" id="brochure-v">
        <!-- <div class="main-cards">
          <div class="card"><video src="{{video}}" width="100%" autoplay loop></video>
          </div>
          </div> -->
          <table>
            <tr>
              <th><h4>Brochure List</h4></th>
              <th></th>
              <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myBrochure">Add</button></th>
            </tr>
            <tr>
              <th>Title</th>
              <th>URL</th>
              <!-- <th>Created</th> -->
              <th>Action</th>
            </tr>
           <tr>
               <td>baba</td>
               <td>baba</td>
               <td>baba</td>
           </tr>
          </table>
      </div>
      <div class="tab-pane" id="document-v">
        <table>
          <tr>
            <th><h4>Document List</h4></th>
            <th></th>
              <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myDocument">Add</button></th>
          </tr>
          <tr>
            <th>Title</th>
            <th>Image</th>
            <!-- <th>Created</th> -->
            <th>Action</th>
          </tr>
          <tr>
            <td>baba</td>
            <td>baba</td>
            <td>baba</td>
        </tr>
        </table>
        <!-- <div class="card"><iframe [src]="documented" style="height: 500px;"></iframe>
        </div> -->
      </div>
      <div class="tab-pane" id="product-v">
        <table>
          <tr>
            <th><h4>Product List</h4></th>
            <th></th>
              <!-- <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myProduct">Add</button></th> -->
          </tr>
          <tr>
            <th>Title</th>
            <th>Image</th>
            <!-- <th>Created</th> -->
            <th>Action</th>
          </tr>
          <tr>
            <td>baba</td>
            <td>baba</td>
            <td>baba</td>
        </tr>
        </table>
        <!-- <div class="card"><iframe [src]="documented" style="height: 500px;"></iframe>
        </div> -->
      </div>
      <div class="tab-pane" id="sales-v"><table>
        <tr>
          <th><h4>Sales Person</h4></th>
          <th></th>
          <!-- <th></th> -->
              <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#mySales">Add</button></th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Contact</th>
          <!-- <th>Action</th> -->
        </tr>
        <tr>
            <td>baba</td>
            <td>baba</td>
            <td>baba</td>
        </tr>
        
      </table></div>
      <div class="tab-pane" id="card-v">
        <table>
          <tr>
            <th><h4>Card Drop</h4></th>
            <th></th>
            <!-- <th></th> -->
              <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myCard">Add</button></th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <!-- <th>Created</th> -->
            <th>Action</th>
          </tr>
          <tr>
            <td>baba</td>
            <td>baba</td>
            <td>baba</td>
        </tr>
        </table>
      </div>
      <div class="tab-pane" id="video-v">
        <table>
          <tr>
            <th><h4>Video</h4></th>
            <!-- <th></th> -->
            <!-- <th></th> -->
              <th><button type="button" class="btn btn-success float-right slidebarBtn " data-toggle="modal" data-target="#myVideo">Add</button></th>
          </tr>
          <tr>
            <th>Video</th>
            <th></th>
            <th></th>
  
            <!-- <th>Created</th> -->
            <!-- <th>Action</th> -->
          </tr>
          <tr>
            <td>baba</td>
            <td>baba</td>
            <td>baba</td>
        </tr>
        </table>
      </div>
  
      <div class="tab-pane active" id="call-v">
        <table>
          <tr>
            <th><h4 style="font-weight: bold;">Briefcase Items</h4></th>
            <th></th>
            <th></th>
            <!-- <th><a href='../../../assets/img/sample.xls'><img class="float-right" src="../../../assets/img/excel.png" alt="" width="40px"></a></th> -->
              <!-- <th><button type="button" class="btn btn-success float-right slidebarBtn " data-toggle="modal" data-target="#myVideo">Add</button></th> -->
          </tr>
          <tr>
            <th style="font-weight: bold;">Document Name</th>
            <!-- <th>Created</th> -->
            <th style="font-weight: bold;">Open File</th>
            <!-- <th>Time</th>
  
            <th>Join Call</th> -->
          </tr>
          <tr *ngFor="let item of breficase_items">
              <td>{{item.title}}</td>
              <td> <a href="{{item.document}}" target="_blank" rel="noopener noreferrer">
                  <img src="../../../assets/img/pdf.png" width="50" height="50" alt="" srcset="">
              </a></td>
              
          </tr>
        </table>
      </div>
      <div class="tab-pane" id="chat-v">
        <table>
          <tr>
            <th><h4 style="font-weight: bold;">Scheduled Meetings</h4></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            
          </tr>
          <tr>
            <th style="font-weight: bold;">Exhibitor Name</th>
            <!-- <th>Created</th> -->
            <th style="font-weight: bold;">Email</th>
            <th style="font-weight: bold;">Time</th>
            <th style="font-weight: bold;">Join Call</th>
          </tr>
          <tr *ngFor="let list of callList">
           <td>{{list.name}}</td>
           <td>{{list.email}}</td>
           <td>{{list.time}}</td>
           <td> <a href="{{list.channel}}" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-video-camera" style="color:black; font-size: 25px;"></i>
           </a> </td>
        </tr>
        </table>
      </div>
      <div class="tab-pane" id="stall-v">
        <table id="chat-visitor">
          <tr>
            <th><h4 style="font-weight: bold;">Chat History</h4></th>
            <th></th>
            <th></th>
            <th></th>
            <th><a style="cursor: pointer;" (click)="exportexcel4()" ><img class="float-right" src="../../../assets/img/excel.png" alt="" width="40px"></a></th>
              <!-- <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myCard">Add</button></th> -->
          </tr>
          <tr>
            <th style="font-weight: bold;">Name</th>
            <th style="font-weight: bold;">Email</th>
            <!-- <th style="font-weight: bold;">Company</th>
            <th style="font-weight: bold;">Phone</th>
            <th style="font-weight: bold;">Designation</th> -->
            <th style="font-weight: bold;">Chats</th>
          </tr>
         <tr *ngFor="let chats of chatHistory">
            <td>{{chats.name}}</td>
            <td>{{chats.email}}</td>
            <td>
               <div (click)="getChatone(chats.chats)">
                   click chat
               </div>
            </td>
         </tr>
        </table>
      </div>

      <div class="tab-pane" id="prof-v">
        <table>
          <tr>
            <th><h4 style="font-weight: bold;">Profile</h4></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
              <!-- <th><button type="button" class="btn btn-success float-right slidebarBtn" data-toggle="modal" data-target="#myCard">Add</button></th> -->
          </tr>
          <tr>
            <th style="font-weight: bold;">Name</th>
            <th style="font-weight: bold;">Email</th>
            <th style="font-weight: bold;">Designation</th>
            <th style="font-weight: bold;">Phone</th>
          </tr>
          <tr>
            <td>{{user_profile.name}}</td>
            <td>{{user_profile.email}}</td>
            <td>{{user_profile.designation}}</td>
            <td>{{user_profile.mobile}}</td>
        </tr>
        </table>
      </div>
    </div>
  
     <!-- <div class="main-cards">
      <div class="card"><video src="{{video}}" width="100%" autoplay loop></video>
      </div>
       <div class="card">
    </div>
    <div class="card"><iframe [src]="documented" style="height: 500px;"></iframe>
   </div>
     </div> -->
   </main>
  
   <footer class="footer">
     <div class="footer__copyright"></div>
     <div class="footer__signature"></div>
   </footer>
  </div>
  
  <!-- video modal -->
  
  
  <!-- brochure modal -->
  
 
  
  <!-- product modal -->
  
 
  
  <!-- sales modal -->
  
  <div class="modal fade chatDocsModal" id="mySales" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Chat History</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
         <table>
             <tr *ngFor="let item of oneChat">
                 <td>{{item.question}}</td>
                 <td>{{item.answer}}</td>
             </tr>
         </table>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>
  
  <!-- card drop modal -->
  
  <div class="modal fade" id="myCard" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Card Drop Form</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form action="">
          <input type="text"><br>
          <input type="text"><br>
          <button>Submit</button>
        </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>
  
  <!-- call modal -->


  <div class="modal fade" id="mySales" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sales Form</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form action="">
          <input type="text"><br>
          <input type="text"><br>
          <button>Submit</button>
        </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>